<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pint_android_v3">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:usesCleartextTraffic="true"

        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <activity android:name=".quem_vai_consigo"/>
        <activity android:name=".viagens_marcadas.viagens_marcadas" />
        <activity android:name=".viagens_efetuadas.viagens_efetuadas" />
        <activity android:name=".perfis.perfil_motorista_edit" />
        <activity android:name=".perfis.perfil_motorista" />
        <activity android:name=".desambiguacao" />
        <activity android:name=".MainActivity_Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name=".menus.menu_municipe" />
        <activity android:name=".menus.menu_motorista" />
        <activity android:name=".pesquisar_utilizador" />
        <activity android:name=".barra_lateral_pro"/>
        <activity android:name=".perfis.perfil_cliente"/>
        <activity android:name=".perfis.perfil_cliente_edit"/>
        <activity android:name=".marcar_viagem"/>
    </application>

</manifest>